<%- include('layout'); -%>
    <div class="text-center">
        <button class="btn btn-primary m-3" onclick="location.href='/jobs'">Jobseeker?</button>
        <button class="btn btn-success m-3" onclick="location.href='/login'">Recruiter?</button>
    </div>